*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 }

body{
    font:1.5rem;
    min-height:100vh;
    background-color:aqua;
    background-image:radial-gradient(whitesmoke,rgb(154,154,154));
    display:flex;
    flex-direction:column;  
    }

header,nav,main,footer{
         display:grid;
          place-content:center;
          grid-template-columns:100%;
          text-align:center;
}

header,footer{
       background-color:black;
       color:white;
       position:sticky;
}
header{
     top:0;
}

footer{
     bottom:0;
}
main{
  flex-grow:1;
}

 nav{
      background-color:rgb(103,122,139);
      color:rgb(238,11,30);
      padding:0.5rem;
     border-bottom:2px solid rgb(0,0,0);
      }

          /*normal width*/
 @meadia screen and (min-width:576px){
       body{
          background-image:radial-gradient(whitesmoke,green);}
         }

         /*large width*/
@meadia screen and (min-width:768px){
        body{
          background-color:blue; 
          background-image:radial-gradient(whitesmoke,rgb(227,130,130));
            }
nav{
  display:none;
     };
}

     /*extra large width*/
@meadia screen and (min-width:982px){
         body{
               background-color:rgb(0,162,255);
               background-image:radial-gradient(whitesmoke,rgb(31,117,255)); 
         nav{
             display:block;
            }; 
}

/*mobile screen landscape*/
@meadia screen and (max-height:425px) and (min-aspect-ratio:6/9){
     
      body{
         background-color:purple;
         background-image:radial-gradient(whitesmoke,purple); 
          }

}
